<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.stxkfzx.weekend.activity.mapper.UserJoinChatRoomMapper">
  <resultMap id="BaseResultMap" type="xin.stxkfzx.weekend.activity.entity.UserJoinChatRoom">
    <!--@mbg.generated-->
    <id column="tb_id" jdbcType="INTEGER" property="tbId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="join_time" jdbcType="TIMESTAMP" property="joinTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tb_id, create_time, update_time, join_time, `status`, user_id, room_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_join_chat_room
    where tb_id = #{tbId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_join_chat_room
    where tb_id = #{tbId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="tb_id" keyProperty="tbId" parameterType="xin.stxkfzx.weekend.activity.entity.UserJoinChatRoom" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_join_chat_room (create_time, update_time, join_time, 
      `status`, user_id, room_id
      )
    values (#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{joinTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{userId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="tb_id" keyProperty="tbId" parameterType="xin.stxkfzx.weekend.activity.entity.UserJoinChatRoom" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_join_chat_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="joinTime != null">
        join_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="joinTime != null">
        #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xin.stxkfzx.weekend.activity.entity.UserJoinChatRoom">
    <!--@mbg.generated-->
    update user_join_chat_room
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="joinTime != null">
        join_time = #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=SMALLINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
    </set>
    where tb_id = #{tbId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xin.stxkfzx.weekend.activity.entity.UserJoinChatRoom">
    <!--@mbg.generated-->
    update user_join_chat_room
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      join_time = #{joinTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=SMALLINT},
      user_id = #{userId,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER}
    where tb_id = #{tbId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-04-27-->
  <select id="selectOneByUserIdAndRoomId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_join_chat_room
        where user_id=#{userId,jdbcType=INTEGER} and room_id=#{roomId,jdbcType=INTEGER}
    </select>
</mapper>