<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.stxkfzx.weekend.mapper.ChatRoomMapper">
    <resultMap id="BaseResultMap" type="xin.stxkfzx.weekend.entity.ChatRoom">
        <!--@mbg.generated-->
        <id column="tb_id" jdbcType="INTEGER" property="tbId"/>
        <result column="activate_id" jdbcType="INTEGER" property="activateId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->


        tb_id, activate_id, user_id, create_time, update_time,
        `status`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from chat_room
        where tb_id = #{tbId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from chat_room
        where tb_id = #{tbId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="tb_id" keyProperty="tbId" parameterType="xin.stxkfzx.weekend.entity.ChatRoom"
            useGeneratedKeys="true">
        <!--@mbg.generated-->

        INSERT INTO chat_room (
        tb_id,
        activate_id,
        user_id,
        create_time,
        update_time,
        `status`
        ) VALUES (
        #{tbId,jdbcType=INTEGER},
        #{activateId,jdbcType=INTEGER},
        #{userId,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{status,jdbcType=SMALLINT}
        )
    </insert>
    <insert id="insertSelective" keyColumn="tb_id" keyProperty="tbId"
            parameterType="xin.stxkfzx.weekend.entity.ChatRoom" useGeneratedKeys="true">
        <!--@mbg.generated-->

        INSERT INTO chat_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tbId!=null">tb_id,</if>
            <if test="activateId!=null">activate_id,</if>
            <if test="userId!=null">user_id,</if>
            <if test="createTime!=null">create_time,</if>
            <if test="updateTime!=null">update_time,</if>
            <if test="status!=null">`status`</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tbId!=null">#{tbId,jdbcType=INTEGER},</if>
            <if test="activateId!=null">#{activateId,jdbcType=INTEGER},</if>
            <if test="userId!=null">#{userId,jdbcType=INTEGER},</if>
            <if test="createTime!=null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime!=null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="status!=null">#{status,jdbcType=SMALLINT}</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xin.stxkfzx.weekend.entity.ChatRoom">
        <!--@mbg.generated-->

        UPDATE chat_room
        <set>
            <if test="tbId != null">tb_id = #{tbId,jdbcType=INTEGER},</if>
            <if test="activateId != null">activate_id = #{activateId,jdbcType=INTEGER},</if>
            <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="status != null">`status` = #{status,jdbcType=SMALLINT}</if>
        </set>
        where tb_id = #{tbId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xin.stxkfzx.weekend.entity.ChatRoom">
        <!--@mbg.generated-->

        UPDATE chat_room
        set
        tb_id = #{tbId,jdbcType=INTEGER},
        activate_id = #{activateId,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        `status` = #{status,jdbcType=SMALLINT}
        where tb_id = #{tbId,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-04-30-->
    <select id="selectOneByActivateId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chat_room
        where activate_id=#{activateId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-02-->
    <update id="updateByActivateId">
        update chat_room
        <set>
            <if test="updated.tbId != null">
                tb_id = #{updated.tbId,jdbcType=INTEGER},
            </if>
            <if test="updated.activateId != null">
                activate_id = #{updated.activateId,jdbcType=INTEGER},
            </if>
            <if test="updated.userId != null">
                user_id = #{updated.userId,jdbcType=INTEGER},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.status != null">
                status = #{updated.status,jdbcType=SMALLINT} ,
            </if>
        </set>
        where activate_id=#{activateId,jdbcType=INTEGER}
    </update>
</mapper>