<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.stxkfzx.weekend.mapper.LikedMapper">
  <resultMap id="BaseResultMap" type="xin.stxkfzx.weekend.entity.Liked">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="liked_module" jdbcType="VARCHAR" property="likedModule" />
    <result column="liked_content_id" jdbcType="VARCHAR" property="likedContentId" />
    <result column="liked_post_id" jdbcType="VARCHAR" property="likedPostId" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, liked_module, liked_content_id, liked_post_id, `status`, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from liked
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from liked
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="xin.stxkfzx.weekend.entity.Liked" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into liked (liked_module, liked_content_id, liked_post_id, 
      `status`, update_time, create_time
      )
    values (#{likedModule,jdbcType=VARCHAR}, #{likedContentId,jdbcType=VARCHAR}, #{likedPostId,jdbcType=VARCHAR}, 
      #{status,jdbcType=BOOLEAN}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="xin.stxkfzx.weekend.entity.Liked" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into liked
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="likedModule != null">
        liked_module,
      </if>
      <if test="likedContentId != null">
        liked_content_id,
      </if>
      <if test="likedPostId != null">
        liked_post_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="likedModule != null">
        #{likedModule,jdbcType=VARCHAR},
      </if>
      <if test="likedContentId != null">
        #{likedContentId,jdbcType=VARCHAR},
      </if>
      <if test="likedPostId != null">
        #{likedPostId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xin.stxkfzx.weekend.entity.Liked">
    <!--@mbg.generated-->
    update liked
    <set>
      <if test="likedModule != null">
        liked_module = #{likedModule,jdbcType=VARCHAR},
      </if>
      <if test="likedContentId != null">
        liked_content_id = #{likedContentId,jdbcType=VARCHAR},
      </if>
      <if test="likedPostId != null">
        liked_post_id = #{likedPostId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xin.stxkfzx.weekend.entity.Liked">
    <!--@mbg.generated-->
    update liked
    set liked_module = #{likedModule,jdbcType=VARCHAR},
      liked_content_id = #{likedContentId,jdbcType=VARCHAR},
      liked_post_id = #{likedPostId,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=BOOLEAN},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>