<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.stxkfzx.weekend.mapper.UserJoinActivityMapper">
    <resultMap id="BaseResultMap" type="xin.stxkfzx.weekend.entity.UserJoinActivity">
        <!--@mbg.generated-->
        <id column="tb_id" jdbcType="INTEGER" property="tbId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="join_time" jdbcType="TIMESTAMP" property="joinTime"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="activity_id" jdbcType="INTEGER" property="activityId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="payment_status" jdbcType="SMALLINT" property="paymentStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        tb_id, create_time, update_time, join_time, `status`, activity_id, user_id, payment_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_join_activity
        where tb_id = #{tbId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from user_join_activity
        where tb_id = #{tbId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="tb_id" keyProperty="tbId"
            parameterType="xin.stxkfzx.weekend.entity.UserJoinActivity" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_join_activity (create_time, update_time, join_time,
        `status`, activity_id, user_id,
        payment_status)
        values (#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{joinTime,jdbcType=TIMESTAMP},
        #{status,jdbcType=SMALLINT}, #{activityId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
        #{paymentStatus,jdbcType=SMALLINT})
    </insert>
    <insert id="insertSelective" keyColumn="tb_id" keyProperty="tbId"
            parameterType="xin.stxkfzx.weekend.entity.UserJoinActivity" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_join_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="joinTime != null">
                join_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="tbId != null">
                activity_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="paymentStatus != null">
                payment_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="joinTime != null">
                #{joinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="tbId != null">
                #{activityId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="paymentStatus != null">
                #{paymentStatus,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xin.stxkfzx.weekend.entity.UserJoinActivity">
        <!--@mbg.generated-->
        update user_join_activity
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="joinTime != null">
                join_time = #{joinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=SMALLINT},
            </if>
            <if test="tbId != null">
                activity_id = #{activityId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="paymentStatus != null">
                payment_status = #{paymentStatus,jdbcType=SMALLINT},
            </if>
        </set>
        where tb_id = #{tbId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xin.stxkfzx.weekend.entity.UserJoinActivity">
        <!--@mbg.generated-->
        update user_join_activity
        set create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        join_time = #{joinTime,jdbcType=TIMESTAMP},
        `status` = #{status,jdbcType=SMALLINT},
        activity_id = #{activityId,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        payment_status = #{paymentStatus,jdbcType=SMALLINT}
        where tb_id = #{tbId,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-04-18-->
    <select id="selectOneByUserIdAndActivityId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_join_activity
        where user_id=#{userId,jdbcType=INTEGER} and activity_id=#{activityId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-04-19-->
    <update id="updateByActivityId">
        update user_join_activity
        <set>
            <if test="updated.tbId != null">
                tb_id = #{updated.tbId,jdbcType=INTEGER},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.joinTime != null">
                join_time = #{updated.joinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.status != null">
                status = #{updated.status,jdbcType=SMALLINT},
            </if>
            <if test="updated.userId != null">
                user_id = #{updated.userId,jdbcType=INTEGER},
            </if>
            <if test="updated.paymentStatus != null">
                payment_status = #{updated.paymentStatus,jdbcType=SMALLINT},
            </if>
        </set>
        where activity_id=#{updated.tbId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-04-19-->
    <update id="updateByActivityIdAndUserId">
        update user_join_activity
        <set>
            <if test="updated.tbId != null">
                tb_id = #{updated.tbId,jdbcType=INTEGER},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.joinTime != null">
                join_time = #{updated.joinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.status != null">
                status = #{updated.status,jdbcType=SMALLINT},
            </if>
            <if test="updated.paymentStatus != null">
                payment_status = #{updated.paymentStatus,jdbcType=SMALLINT},
            </if>
        </set>
        where activity_id=#{updated.activityId,jdbcType=INTEGER} and user_id=#{updated.userId,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-05-02-->
    <select id="selectByUserIdAndActivityIdAndStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_join_activity
        where user_id=#{userId,jdbcType=INTEGER} and activity_id=#{activityId,jdbcType=INTEGER} and
        `status`=#{status,jdbcType=SMALLINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-02-->
    <update id="updateByActivityIdAndUserIdAndStatus">
        update user_join_activity
        <set>
            <if test="updated.tbId != null">
                tb_id = #{updated.tbId,jdbcType=INTEGER},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.joinTime != null">
                join_time = #{updated.joinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.status != null">
                status = #{updated.status,jdbcType=SMALLINT},
            </if>
            <if test="updated.activityId != null">
                activity_id = #{updated.activityId,jdbcType=INTEGER},
            </if>
            <if test="updated.userId != null">
                user_id = #{updated.userId,jdbcType=INTEGER},
            </if>
            <if test="updated.paymentStatus != null">
                payment_status = #{updated.paymentStatus,jdbcType=SMALLINT},
            </if>
        </set>
        where
        activity_id=#{condition.activityId,jdbcType=INTEGER} and user_id=#{condition.userId,jdbcType=INTEGER} and
        `status`=#{condition.status,jdbcType=SMALLINT}
    </update>

</mapper>